<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://localhost/farmacia?createDatabaseIfNotExist=true
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property> <!-- en true muestra hql en consola -->
		<!-- valores posibles: create create-drop validate update -->
		<property name="hibernate.hbm2ddl.auto">create</property>					
					
		<!-- Mapeo Entidades -->
			<mapping resource="mapeos/Afiliado.hbm.xml"/>
			<mapping resource="mapeos/DetalleVenta.hbm.xml"/>
			<mapping resource="mapeos/Domicilio.hbm.xml"/>
			<mapping resource="mapeos/ObraSocial.hbm.xml"/>
			<mapping resource="mapeos/Persona.hbm.xml"/>
			<mapping resource="mapeos/Producto.hbm.xml"/>
			<mapping resource="mapeos/Sucursal.hbm.xml"/>
			<mapping resource="mapeos/Venta.hbm.xml"/> 
				
	</session-factory>
</hibernate-configuration>